<!-- <button mat-button>Click me</button>
<button mat-raised-button color="primary">Click me</button>
<button mat-raised-button color="accent">Click me</button>
<button mat-raised-button color="warn">Click me</button>
<button mat-raised-button disabled>Click me</button> -->

<ngx-ui-loader
fgsColor = "#f44336"
pbColor = "#f44336"
pbThickness="5"
textPosition="center-center"
text="loading..."></ngx-ui-loader>

<div ngxUiLoaderBlurred blur="10">
    <!-- navbar static -->
    <app-navbar></app-navbar>

    <!-- dynamic -->
    <router-outlet></router-outlet>    <!-- This page content will be blurred/frosted when foreground loader is showed -->
</div>